/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#header{
   background-color: #656123;
   color: #999999;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    width: 100%;
    overflow: hidden;

}
#footer{
    background-color: #300231;
    color: #800000;
}
#header img{
    float: left;
    width: 100px;
    height: 100px;
    padding: 5px;
}
#title{
    float: left;
    padding: 5px;
}
.cats_list{
    margin: auto;
    padding: 10px;
}
